html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

*,*::before,*::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit
}

h6,h5,h4,h3,h2,h1 {
    margin: 0;
    padding: 0
}

p {
    padding: 0;
    margin: 0
}

a {
    text-decoration: none
}

li {
    list-style: none
}

ul {
    padding: 0
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #fff;
    padding: 0;
    margin: 0;
    height: 100%
}

html,body {
    overflow-x: hidden
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px
}

.fa-user {
    display: none
}

.header__down-logo {
    display: none
}

.header {
    background-image: url(../images/header/bg.png);
    height: 81vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    min-width: 100%
}

.parallax-window {
    min-height: 400px
}

.header__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    height: 120px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s
}

.header__top.fixed {
    width: 100%;
    position: fixed;
    z-index: 3;
    top: 0;
}

.header__logo {
    margin-right: 20px
}

.header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.header__list-link {
    margin-right: 36px;
    color: #fff;
    font-size: 16px;
    position: relative;
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
    padding-bottom: 10px
}

.header__list-link:before {
    content: "";
    width: 0;
    height: 0.1em;
    position: absolute;
    bottom: 0;
    left: 50%;
    background: #fff;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s
}

.header__list-link:hover:before {
    width: 100%;
    left: 0;
    background: #fff
}

.header__top-btn {
    color: #fff;
    padding: 10px 30px;
    border: none;
    width: 169px;
    height: 44px;
    display: inline-block;
    outline: none;
    cursor: pointer;
    background: -o-linear-gradient(355.74deg, #C89AFC 9.51%, #7C6AFA 90.23%);
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
    border-radius: 50px;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s
}

.header__top-btn:hover {
    -webkit-box-shadow: 0px 5px 30px 0 #6052bc;
    box-shadow: 0px 5px 30px 0 #6052bc
}

.header__down {
    padding-top: 140px
}

.header__down-title {
    font-weight: bold;
    font-size: 54px;
    color: #FFFFFF;
    margin-bottom: 50px;
    -webkit-animation-duration: 3s;
    animation-duration: 3s
}

.header__countdown {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #fff;
    font-weight: 100
}

.header__countdown-number {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 20px 30px;
    margin-right: 30px;
    width: 102px;
    height: 112px;
    background: #121212
}

.header__countdown-time {
    font-weight: bold;
    font-size: 36px
}

.header__countdown-text {
    font-size: 16px;
    opacity: 0.4
}

.course {
    background-color: #121212;
    padding: 43px 0;
}

.course__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.course__inner-btn {
    padding: 10px;
    border: none;
    font-weight: bold;
    font-size: 16px;
    color: #fff;
    outline: none;
    cursor: pointer;
    width: 169px;
    height: 44px;
    background: -o-linear-gradient(355.22deg, #DF5950 11.19%, #451046 93.72%);
    background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
    border-radius: 50px;
    margin-right: 20px
}

.course__group {
    max-width: 260px;
    margin-right: 20px
}

.course__only {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 10px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.course__only-text {
    font-size: 16px;
    color: #FFFFFF;
    opacity: 0.4
}

.course__only-number {
    margin-left: 30px;
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF
}

.course__end {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.course__end-text {
    font-size: 16px;
    color: #FFFFFF;
    opacity: 0.4
}

.course__end-number {
    margin-left: 30px;
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF
}

.course__earned {
    width: 420px
}

.course__box {
    max-width: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.course__box-text {
    font-size: 16px;
    color: #FFFFFF;
    opacity: 0.4
}

.course__box-money {
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF
}

.course__wrap {
    max-width: 900px
}

.course__rank {
    display: block;
    width: 100%;
    background: #fff;
    height: 6px;
    border-radius: 1px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -webkit-transition: 0.4s linear;
    -o-transition: 0.4s linear;
    transition: 0.4s linear;
    -webkit-transition-property: width, background-color;
    -o-transition-property: width, background-color;
    transition-property: width, background-color
}

.course__rank-bar {
    height: 6px;
    width: 0px;
    margin: 8px 0;
    background: -o-linear-gradient(355.22deg, #DF5950 11.19%, #451046 93.72%);
    background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px
}

.course__money {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.course__money-zero {
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
    opacity: 0.4
}

.course__money-more {
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
    opacity: 0.4
}

.about-us {
    padding: 100px 0
}

.about-us__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.about-us__left {
    padding-right: 50px;
    width: 450px;
    margin-right: 40px
}

.about-us__box {
    position: relative
}

.about-us__box::before {
    content: "";
    position: absolute;
    display: block;
    width: 450px;
    min-height: 450px;
    border: 30px solid;
    -webkit-border-image: -webkit-linear-gradient(#C89AFC, #7C6AFA);
    border-image-slice: 1
}

.about-us__box-img {
    position: relative;
    padding-top: 40px;
    left: 5%;
    width: 400px;
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
    z-index: 1
}

.about-us__right {
    max-width: 548px;
    padding: 70px 0;
    z-index: 2
}

.about-us__info-title {
    font-weight: bold;
    font-size: 48px;
    margin-bottom: 45px;
    -webkit-animation-duration: 3s;
    animation-duration: 3s
}

.about-us__info-text {
    font-size: 16px;
    line-height: 160%;
    -webkit-animation-duration: 2s;
    animation-duration: 2s
}

.fast-start {
    padding: 100px 0
}

.fast-start__top {
    padding-bottom: 80px
}

.fast-start__top-title {
    padding-left: 110px;
    position: relative;
    font-weight: bold;
    font-size: 48px;
    line-height: 140%;
    margin-bottom: 50px;
    display: inline-block;
    -webkit-animation-duration: 3s;
    animation-duration: 3s
}

.fast-start__top-title::before {
    content: url(../images/fast-start/decorate.png);
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block
}

.fast-start__top-text {
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;
    color: #FFFFFF;
    opacity: 0.5;
    max-width: 411px;
    -webkit-animation-duration: 3s;
    animation-duration: 3s
}

.fast-start__down {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.fast-start__item {
    max-width: 324px
}

.fast-start__item-1 {
    -webkit-animation-duration: 2s;
    animation-duration: 2s
}

.fast-start__item-2 {
    -webkit-animation-duration: 4s;
    animation-duration: 4s
}

.fast-start__item-3 {
    -webkit-animation-duration: 6s;
    animation-duration: 6s
}

.fast-start__item-4 {
    -webkit-animation-duration: 8s;
    animation-duration: 8s
}

.fast-start__item-num {
    font-weight: bold;
    font-size: 36px;
    line-height: 140%;
    color: #FFFFFF;
    padding-bottom: 20px
}

.fast-start__item-box {
    max-width: 324px;
    height: 80px;
    background: -o-linear-gradient(355.74deg, #C89AFC 9.51%, #7C6AFA 90.23%);
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%)
}

.fast-start__item-text {
    font-size: 12px;
    line-height: 160%;
    color: #FFFFFF;
    opacity: 0.5;
    margin-top: 60px;
    padding-right: 30px
}

.fast-start__item-box--one {
    height: 80px
}

.fast-start__item-box--two {
    margin-top: 10px;
    height: 60px
}

.fast-start__item-box--three {
    margin-top: 20px;
    height: 30px
}

.fast-start__item-box--four {
    margin-top: 30px;
    height: 10px
}

.fast-start__top-text--two {
    margin-top: 70px
}

.fast-start__top-text--three {
    margin-top: 90px
}

.fast-start__top-text--four {
    margin-top: 100px
}

.profession {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0
}

.profession__top {
    text-align: center;
    margin-bottom: 130px
}

.profession__top-title {
    font-weight: bold;
    font-size: 48px;
    line-height: 140%;
    -webkit-animation-duration: 3s;
    animation-duration: 3s
}

.profession__down {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.profession__item {
    text-align: center;
    max-width: 350px;
    padding: 0 10px
}

.profession__item-1 {
    -webkit-animation-duration: 2s;
    animation-duration: 2s
}

.profession__item-2 {
    -webkit-animation-duration: 3s;
    animation-duration: 3s
}

.profession__item-3 {
    -webkit-animation-duration: 2s;
    animation-duration: 2s
}

.profession__info {
    padding: 60px 0
}

.profession__info-title {
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 24px;
    line-height: 140%
}

.profession__info-text {
    font-size: 15px;
    line-height: 160%;
    text-align: center;
    color: #FFFFFF;
    opacity: 0.8
}

.company {
    padding: 100px 0
}

.company__top {
    padding-bottom: 80px
}

.company__top-title {
    padding-left: 110px;
    position: relative;
    font-weight: bold;
    font-size: 48px;
    line-height: 140%;
    margin-bottom: 50px;
    -webkit-animation-duration: 3s;
    animation-duration: 3s
}

.company__top-title::before {
    content: url(../images/company/decorate.png);
    position: absolute;
    left: 0;
    top: 0px
}

.company__line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.company__line-item {
    padding: 30px 20px;
    border: 1px solid #FFFFFF
}

.programm {
    padding: 100px 0
}

.programm__top {
    text-align: center
}

.programm__top-title {
    font-weight: bold;
    font-size: 48px;
    line-height: 140%;
    margin-bottom: 30px;
    position: relative;
    padding-top: 100px;
    -webkit-animation-duration: 3s;
    animation-duration: 3s
}

.programm__top-title::before {
    content: url(../images/programm/decorate.png);
    position: absolute;
    top: 0px;
    left: 45%
}

.programm__top-text {
    font-size: 16px;
    line-height: 160%;
    text-align: center;
    color: #FFFFFF;
    opacity: 0.5;
    max-width: 400px;
    margin: 0 auto;
    -webkit-animation-duration: 2s;
    animation-duration: 2s
}

.programm__timeline .programm__list {
    padding: 50px 0
}

.programm__timeline .programm__list .programm__item {
    list-style-type: none;
    position: relative;
    width: 6px;
    height: 100%;
    margin: 0 auto;
    padding-top: 50px;
    background: -o-linear-gradient(355.74deg, #C89AFC 9.51%, #7C6AFA 90.23%);
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%)
}

.programm__timeline .programm__list .programm__item .programm__wrap {
    position: relative;
    bottom: 0;
    width: 400px;
    padding: 15px
}

.programm__timeline .programm__list .programm__item:nth-child(odd) .programm__wrap {
    left: 45px
}

.programm__timeline .programm__list .programm__item:nth-child(odd) .programm__wrap::after {
    content: '';
    position: absolute;
    left: -10%;
    top: 60px;
    width: 40px;
    height: 0px;
    border: 1px solid #FFFFFF;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg)
}

.programm__timeline .programm__list .programm__item:nth-child(even) .programm__wrap {
    left: -351px
}

.programm__timeline .programm__list .programm__item:nth-child(even) .programm__wrap::before {
    content: '';
    position: absolute;
    right: 12%;
    top: 60px;
    width: 40px;
    height: 0px;
    border: 1px solid #FFFFFF;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg)
}

.programm__wrap-date {
    font-weight: normal;
    font-size: 14px;
    line-height: 160%;
    color: #FFFFFF;
    opacity: 0.5;
    margin-bottom: 15px
}

.programm__wrap-text {
    font-weight: normal;
    font-size: 18px;
    color: #FFFFFF;
    max-width: 260px
}

.programm__timeline .programm__list .programm__item::after {
    -webkit-transition: background .5s ease-in-out;
    -o-transition: background .5s ease-in-out;
    transition: background .5s ease-in-out
}

.programm__timeline .programm__list .programm__item.in-view::after {
    background: #F45B69
}

.programm__timeline .programm__list .programm__item .programm__wrap {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out
}

.programm__timeline .programm__list .programm__item:nth-child(odd) .programm__wrap {
    -webkit-transform: translate3d(200px, 0, 0);
    transform: translate3d(200px, 0, 0)
}

.programm__timeline .programm__list .programm__item:nth-child(even) .programm__wrap {
    -webkit-transform: translate3d(-200px, 0, 0);
    transform: translate3d(-200px, 0, 0)
}

.programm__timeline .programm__list .programm__item.in-view .programm__wrap {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    visibility: visible;
    opacity: 1
}

@media screen and (max-width: 900px) {
    .programm__timeline .programm__list .programm__item .programm__wrap {
        width:330px
    }

    .programm__timeline .programm__list .programm__item:nth-child(even) .programm__wrap {
        left: -289px
    }
}

@media screen and (max-width: 600px) {
    .programm__timeline .programm__list .programm__item {
        margin-left:10px
    }

    .programm__timeline .programm__list .programm__item .programm__wrap {
        width: 360px
    }

    .programm__timeline .programm__list .programm__item:nth-child(even) .programm__wrap {
        left: 45px
    }

    .programm__timeline .programm__list .programm__item:nth-child(even) .programm__wrap::before {
        left: -39px
    }
}

.teacher {
    padding: 100px 0
}

.teacher__top {
    padding-bottom: 100px
}

.teacher__top-title {
    font-weight: bold;
    font-size: 48px;
    line-height: 140%;
    margin-bottom: 30px;
    position: relative;
    padding-left: 100px;
    -webkit-animation-duration: 3s;
    animation-duration: 3s
}

.teacher__top-title::before {
    content: url(../images/teacher/decorate.png);
    position: absolute;
    top: -20px;
    left: 0%
}

.teacher__down {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around
}

.teacher__card {
    text-align: center;
    max-width: 400px
}

.teacher__card-img {
    border-radius: 50%;
    margin: 0 auto
}

.teacher__info {
    padding: 40px 0
}

.teacher__info-name {
    font-weight: 500;
    font-size: 24px;
    line-height: 140%;
    margin-bottom: 15px
}

.teacher__info-text {
    font-size: 16px;
    line-height: 160%;
    text-align: center;
    color: #FFFFFF;
    opacity: 0.8;
    margin-bottom: 30px
}

.teacher__info-link {
    font-size: 16px;
    line-height: 150%;
    color: #fff;
    padding: 10px 30px;
    border: 1px solid #ffff;
    border-radius: 20px;
    width: 83px;
    height: 24px;
    -webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
    position: relative;
    z-index: 2
}

.teacher__info-link:before {
    position: absolute;
    content: '';
    width: 0%;
    height: 100%;
    background: #fff;
    top: 0;
    border-radius: 20px;
    left: auto;
    right: 0;
    z-index: 1;
    -webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease
}

.teacher__info-link:hover {
    color: #000;
    -webkit-box-shadow: none;
    box-shadow: none
}

.teacher__info-link:hover:before {
    position: absolute;
    content: '';
    border-radius: 20px;
    width: 100%;
    height: 100%;
    background: #fff;
    top: 0;
    left: 0;
    right: 0px;
    z-index: -1
}

.footer {
    padding: 100px 0
}

.footer__top {
    text-align: center;
    padding-bottom: 110px
}

.footer__top-title {
    font-weight: bold;
    font-size: 48px;
    line-height: 140%;
    color: #FFFFFF;
    letter-spacing: 2px;
    margin-bottom: 30px;
    -webkit-animation-duration: 3s;
    animation-duration: 3s
}

.footer__top-text {
    font-size: 16px;
    line-height: 160%;
    text-align: center;
    color: #FFFFFF;
    opacity: 0.5;
    max-width: 411px;
    margin: 0 auto;
    -webkit-animation-duration: 2s;
    animation-duration: 2s
}

.footer__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    max-width: 411px;
    position: relative;
    padding-bottom: 30px
}

.footer__form-input {
    height: 50px;
    background: rgba(130,125,125,0.596);
    border-radius: 50px 0px 0px 50px;
    display: inline-block;
    border: none;
    outline: none;
    padding: 17px 100px 17px 30px;
    color: #fff;
    width: 100%;
    resize: vertical;
    -webkit-transform: translateX(-30px);
    -ms-transform: translateX(-30px);
    transform: translateX(-30px)
}

.footer__form-btn {
    position: absolute;
    padding: 10px 30px;
    width: 160px;
    height: 50px;
    border: none;
    outline: none;
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
    right: -40px;
    cursor: pointer;
    background: -o-linear-gradient(355.22deg, #DF5950 11.19%, #451046 93.72%);
    background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
    border-radius: 50px
}

::-webkit-input-placeholder {
    color: #fff
}

::-moz-placeholder {
    color: #fff
}

:-ms-input-placeholder {
    color: #fff
}

::-ms-input-placeholder {
    color: #fff
}

::placeholder {
    color: #fff
}

.footer__messengers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.footer__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.footer__list-item {
    text-align: center;
    width: 50px;
    height: 50px;
    background: -o-linear-gradient(355.74deg, #C89AFC 9.51%, #7C6AFA 90.23%);
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
    border-radius: 50%;
    padding: 5px 0;
    margin-right: 30px;
    display: block
}

.footer__list-link {
    text-align: center;
    width: 50px;
    height: 50px;
    background: -o-linear-gradient(355.74deg, #C89AFC 9.51%, #7C6AFA 90.23%);
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
    border-radius: 50%;
    padding: 5px 0;
    margin-right: 30px;
    display: block;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #fff;
    font-size: 30px;
    display: inline-block;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s
}

.footer__list-link:hover {
    background: none;
    -webkit-box-shadow: 0 0 35px 0 #451046;
    box-shadow: 0 0 35px 0 #451046;
    color: #451046
}

@media (max-width: 1066px) {
    .about-us {
        position:relative
    }

    .about-us__inner {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center
    }

    .about-us__right {
        text-align: center;
        max-width: 800px;
        padding-top: 50px
    }

    .about-us__info-text {
        font-size: 20px;
        line-height: 50px
    }
}

@media (max-width: 903px) {
    .menu {
        display:block;
        position: fixed;
        top: 16px;
        right: 16px;
        background-color: #000;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        z-index: 20;
        -webkit-box-shadow: 0px 3px 8px #333;
        box-shadow: 0px 3px 8px #333;
        cursor: pointer
    }

    .menu__line {
        display: block;
        position: absolute;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        width: 30px;
        height: 4px;
        background-color: #fff;
        border-radius: 13px;
        -webkit-transition-duration: .4s;
        -o-transition-duration: .4s;
        transition-duration: .4s
    }

    .menu__line:nth-child(1) {
        top: 14px
    }

    .menu__line:nth-child(2) {
        top: 23px
    }

    .menu__line:nth-child(3) {
        bottom: 14px
    }

    .menu.active {
        background-color: rgba(0,0,0,0);
        -webkit-box-shadow: none;
        box-shadow: none
    }

    .menu.active .menu__line:nth-child(1) {
        -webkit-transform: translate(-12px, 9px) rotate(-45deg);
        -ms-transform: translate(-12px, 9px) rotate(-45deg);
        transform: translate(-12px, 9px) rotate(-45deg)
    }

    .menu.active .menu__line:nth-child(2) {
        -webkit-transition-duration: 0s;
        -o-transition-duration: 0s;
        transition-duration: 0s;
        opacity: 0
    }

    .menu.active .menu__line:nth-child(3) {
        -webkit-transform: translate(-12px, -9px) rotate(45deg);
        -ms-transform: translate(-12px, -9px) rotate(45deg);
        transform: translate(-12px, -9px) rotate(45deg)
    }

    .header__nav {
        display: block;
        position: absolute;
        top: 16px;
        position: fixed;
        right: 16px;
        background-color: #000;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        z-index: 10;
        -webkit-transition-duration: .4s;
        -o-transition-duration: .4s;
        transition-duration: .4s
    }

    .header__nav.open {
        background-color: rgba(0,0,0,0.9);
        width: 100%;
        height: 100%;
        position: absolute;
        position: fixed;
        right: 0px;
        top: 0px;
        border-radius: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }

    .header__nav .header__list {
        position: fixed;
        display: none
    }

    .header__nav .header__list.show {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        list-style: none;
        margin: 0;
        padding: 0
    }

    .header__nav .header__list-item {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        background-color: transparent;
        width: 100%;
        opacity: 0;
        -webkit-animation-name: fadein;
        animation-name: fadein;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards
    }

    .header__nav .header__list-item:nth-child(1) {
        -webkit-animation-delay: .2s;
        animation-delay: .2s
    }

    .header__nav .header__list-item:nth-child(2) {
        -webkit-animation-delay: .3s;
        animation-delay: .3s
    }

    .header__nav .header__list-item:nth-child(3) {
        -webkit-animation-delay: .4s;
        animation-delay: .4s
    }

    .header__nav .header__list-item:nth-child(4) {
        -webkit-animation-delay: .5s;
        animation-delay: .5s
    }

    .header__nav .header__list-item:nth-child(5) {
        -webkit-animation-delay: .6s;
        animation-delay: .6s
    }

    .header__nav .header__list-item:nth-child(6) {
        -webkit-animation-delay: .7s;
        animation-delay: .7s
    }

    .header__nav .header__list-item:not(:last-child) {
        margin-bottom: 32px
    }

    .header__nav .header__list-link {
        font-size: 34px;
        letter-spacing: 0.1em;
        text-decoration: none;
        color: #fff;
        margin-right: 0
    }

    .header__nav .header__list-link:before {
        content: "";
        width: 0;
        height: 0.1em;
        position: absolute;
        bottom: 0;
        left: 50%;
        background: #fff;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s
    }

    .header__nav .header__list-link:active:before {
        width: 100%;
        left: 0;
        background: #fff
    }

    @-webkit-keyframes fadein {
        0% {
            opacity: 0;
            -webkit-transform: translateY(24px);
            transform: translateY(24px)
        }

        100% {
            opacity: 1
        }
    }

    @keyframes fadein {
        0% {
            opacity: 0;
            -webkit-transform: translateY(24px);
            transform: translateY(24px)
        }

        100% {
            opacity: 1
        }
    }

    .header__top {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex
    }

    .header__logo {
        position: absolute;
        left: 20px;
        display: none
    }

    .fa-user {
        display: block;
        font-size: 30px
    }

    .header__top-btn {
        font-size: 0;
        display: block;
        color: #fff;
        padding: 10px 30px;
        border: none;
        width: 90px;
        height: 90px;
        display: inline-block;
        outline: none;
        cursor: pointer;
        background: -o-linear-gradient(355.74deg, #C89AFC 9.51%, #7C6AFA 90.23%);
        background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
        border-radius: 0px;
        position: absolute;
        top: 0;
        left: 0;
        -webkit-transition: .5s;
        -o-transition: .5s;
        transition: .5s
    }

    .header__top-btn:hover {
        -webkit-box-shadow: 0px 5px 30px 0 #6052bc;
        box-shadow: 0px 5px 30px 0 #6052bc
    }

    .header__down {
        text-align: center;
        padding-top: 10px
    }

    .header__down-logo {
        display: block
    }

    .header__down-logo-img {
        width: 60px;
        height: 60px;
        margin-bottom: 30px
    }

    .header__countdown {
        text-align: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center
    }

    .header__countdown-number {
        margin-right: 10px
    }

    .course__earned {
        padding-top: 40px
    }

    .about-us__info {
        padding: 0 10px
    }
}

@media (max-width: 800px) {
    .company__top-title {
        display:block;
        font-size: 40px;
        padding-left: 0;
        text-align: center;
        padding-top: 100px
    }

    .company__top-title::before {
        content: url(../images/company/decorate.png);
        position: absolute;
        left: 40%;
        top: 0px
    }

    .teacher__top-title {
        display: block;
        font-size: 40px;
        padding-left: 0;
        text-align: center;
        padding-top: 100px
    }

    .teacher__top-title::before {
        content: url(../images/company/decorate.png);
        position: absolute;
        left: 40%;
        top: 0px
    }
}

@media (max-width: 771px) {
    .fast-start__top {
        text-align:center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center
    }

    .fast-start__top-text {
        margin: 0 auto
    }

    .fast-start__down {
        display: block;
        width: 100%;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }

    .fast-start__item {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin: 0 auto;
        max-width: 100%
    }

    .fast-start__item-text {
        display: inline-block;
        max-width: 300px;
        margin: 0;
        padding: 20px 10px 0
    }

    .fast-start__top-text--two {
        margin: 0
    }

    .fast-start__top-text--three {
        margin: 0
    }

    .fast-start__top-text--four {
        margin: 0
    }

    .fast-start__item-box--one {
        height: 324px;
        width: 80px;
        margin: 0
    }

    .fast-start__item-box--two {
        margin-top: 10px;
        margin: 0 0 0 13px;
        min-height: 324px;
        width: 60px
    }

    .fast-start__item-box--three {
        min-height: 324px;
        width: 30px;
        margin: 0 0 0 15px
    }

    .fast-start__item-box--four {
        min-height: 324px;
        width: 10px;
        margin: 0 0 0 8px
    }

    .fast-start__item-box {
        display: block
    }

    .fast-start__item-num {
        padding: 0 20px;
        font-size: 20px
    }
}

@media (max-width: 751px) {
    .company__line-item {
        border-top:none;
        border-bottom: none
    }

    .slick-dots {
        list-style: none;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding: 0;
        margin-top: 40px
    }

    .slick-dots button {
        border: none;
        height: 15px;
        width: 15px;
        border-radius: 15px;
        background-color: #000;
        border: 2px solid #fff;
        outline: none;
        cursor: pointer;
        margin: 0 1px;
        -webkit-transition: width .2s linear;
        -o-transition: width .2s linear;
        transition: width .2s linear;
        font-size: 0;
        margin-right: 20px
    }

    .slick-active {
        text-align: center
    }

    .slick-active button {
        border: none;
        width: 30px;
        background: #7C6AFA
    }
}

@media (max-width: 694px) {
    .company__top-title {
        font-size:30px
    }
}

@media (max-width: 673px) {
    .header__down-title {
        font-size:45px
    }
}

@media (max-width: 673px) {
    .footer__top-title {
        font-size:35px
    }

    .footer__top-text {
        font-size: 15px
    }
}

@media (max-width: 601px) {
    .header {
        background-image:url(../images/header/bg.png);
        height: 100vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 90% 90%;
        min-width: 100%
    }
}

@media (max-width: 558px) {
    .company__top-title {
        font-size:28px
    }

    .teacher__top-title {
        display: block;
        font-size: 28px
    }
}

@media (max-width: 521px) {
    .about-us__info-title {
        font-size:38px
    }

    .programm__top-title {
        font-size: 28px;
        display: block
    }

    .programm__top-title::before {
        content: url(../images/programm/decorate.png);
        position: absolute;
        top: 0px;
        left: 40%
    }

    .programm__top-text {
        font-size: 13px
    }

    .about-us__info-text {
        font-size: 17px
    }

    .about-us__box::before {
        content: "";
        position: absolute;
        display: block;
        right: -70px;
        width: 450px;
        min-height: 450px;
        border: 30px solid;
        -webkit-border-image: -webkit-linear-gradient(#C89AFC, #7C6AFA);
        border-image-slice: 1
    }

    .profession__top-title {
        font-size: 35px
    }
}

@media (max-width: 500px) {
    .fast-start__item-num {
        -webkit-transform:rotate(270deg);
        -ms-transform: rotate(270deg);
        transform: rotate(270deg)
    }

    .fast-start__item {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }
}

@media (max-width: 493px) {
    .fast-start__top {
        text-align:center
    }

    .fast-start__top-title {
        padding-top: 110px;
        position: relative;
        font-weight: bold;
        padding-left: 0;
        font-size: 38px;
        line-height: 140%;
        margin-bottom: 50px;
        display: block;
        -webkit-animation-duration: 3s;
        animation-duration: 3s
    }

    .fast-start__top-title::before {
        content: url(../images/fast-start/decorate.png);
        position: absolute;
        width: 20px;
        height: 20px;
        left: 35%;
        top: 0;
        display: inline-block
    }

    .fast-start__item-box--one {
        margin-left: 0;
        width: 20px
    }

    .fast-start__item-box--two {
        margin-left: 11px;
        width: 20px
    }

    .fast-start__item-box--three {
        margin-left: 11px;
        width: 20px
    }

    .fast-start__item-box--four {
        margin-left: 6px;
        width: 20px
    }

    .fast-start__item {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }

    .fast-start__item-text {
        padding-left: 40px;
        position: relative
    }

    .fast-start__item-text::before {
        content: '';
        width: 30px;
        height: 2px;
        background-color: #afadad;
        position: absolute;
        left: 0;
        top: 50%
    }

    .footer__form-input {
        border-radius: 20px;
        width: 100%;
        padding: 17px 10px 17px 30px
    }

    .footer__form {
        display: block;
        text-align: center;
        width: 100%;
        -webkit-transform: translateX(30px);
        -ms-transform: translateX(30px);
        transform: translateX(30px);
        padding-bottom: 90px
    }

    .footer__form-btn {
        display: block;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        left: 20%;
        margin-top: 10px
    }
}

@media (max-width: 487px) {
    .header {
        background-image:url(../images/header/bg.png);
        height: 100vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 90% 90%;
        min-width: 100%
    }

    .header__down-logo-img {
        width: 50px;
        height: 50px
    }

    .header__down-title {
        font-size: 40px
    }

    .header__countdown-number {
        margin-right: 0px
    }

    .course__inner-btn {
        margin-bottom: 30px
    }

    .about-us__info-text {
        line-height: 35px
    }

    .about-us__box::before {
        content: "";
        position: absolute;
        display: block;
        top: -10px;
        left: 50px;
        width: 150px;
        min-height: 150px;
        border: 20px solid;
        -webkit-border-image: -webkit-linear-gradient(#C89AFC, #7C6AFA);
        border-image-slice: 1;
        -webkit-animation-name: rotation;
        animation-name: rotation;
        -webkit-animation-duration: 6s;
        animation-duration: 6s;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear
    }

    @-webkit-keyframes rotation {
        0% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg)
        }

        100% {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg)
        }
    }

    @keyframes rotation {
        0% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg)
        }

        100% {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg)
        }
    }

    .about-us__box::after {
        content: "";
        position: absolute;
        display: block;
        right: 0px;
        bottom: -80px;
        width: 150px;
        min-height: 150px;
        border: 20px solid;
        -webkit-border-image: -webkit-linear-gradient(#C89AFC, #7C6AFA);
        border-image-slice: 1;
        -webkit-animation-name: rotation;
        animation-name: rotation;
        -webkit-animation-duration: 6s;
        animation-duration: 6s;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear
    }

    @keyframes rotation {
        0% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg)
        }

        100% {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg)
        }
    }
}

@media (max-width: 487px) {
    .company__line-item-img {
        margin:0 auto
    }

    .company__line-item {
        border: 0
    }
}

@media (max-width: 423px) {
    .header__countdown-number {
        padding:5px 5px
    }
}

@media (max-width: 391px) {
    .profession__top-title {
        font-size:28px
    }
}

@media (max-width: 371px) {
    .header__down-title {
        font-size:33px
    }

    .fast-start__item-box {
        display: none
    }

    .fast-start__top-text--one {
        padding-right: 0
    }

    .fast-start__item-1 {
        position: relative;
        left: -4%
    }

    .programm__top-title {
        font-size: 28px;
        display: block
    }

    .programm__top-title::before {
        content: url(../images/programm/decorate.png);
        position: absolute;
        top: 0px;
        left: 30%
    }
}